version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: my_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_DATABASE: "my_read_up"
      MYSQL_SSL_MODE: DISABLED 
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    container_name: brief-9-php
    image: brief-8_web
    ports:
      - "8081:80"
    volumes:
      - ./src:/var/www/html
    restart: unless-stopped
    depends_on:
      - db

volumes:
  db_data:
